/*
//     _    _ _   _____                _ _ 
//    / \  | (_) |  ___|_ _ _ __ __ _ (_|_)
//   / _ \ | | | | |_ / _` | '__/ _` || | |
//  / ___ \| | | |  _| (_| | | | (_| || | |
// /_/   \_\_|_| |_|  \__,_|_|  \__,_|/ |_|
//                                  |__/   
//      www.alifaraji.ir
//      Contact@alifaraji.ir 
*/
body{
    font-family: Vazir;
}
.main{
    direction: rtl;
}
.colheader{
    padding: 5px;
    background-color: #F69;
    text-align: center;
    margin-bottom: 4px;
}
.planItem{
    text-align: right;
    padding: 2px;
    background-color: #CCC;
}
.ctime{
    text-align: center;
}